body {
    margin:0;
}

.app {
    height: 100%;
    width:100%;
    display:flex;
    flex-direction: column;
}

.slideshow {
    background-color: darkgoldenrod;
    flex:1;
    position:relative;
    overflow:hidden;
}

.header {
    text-align:center;
    padding:20px 0;
    background-color:burlywood;
    color:white;
}

.slide {
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center center;
    opacity:1;
    transform:scale(1);
    transition: all .9s ease-out;
}
